.navbar.account { background-image: url('../img/icon_account.png'); }		

.navbar.heart { background-image: url('../img/icon_heart .png');  }

.navbar.search { background-image: url('../img/icon_search.png');  }

