/*-----------------------------------*/
/* Sliders */
/*-----------------------------------*/

/* Banner slider */
/*-----------------------------------*/
.baner-slider {
  position: relative;
  .box-shadow(0 2px 7px 0px rgba(0,0,0,0.5););


  .slide {
    position: relative;
    .border-radius(2px 0 0 2px);

    img {
      width: 100%;
      height: 100%;
      z-index: 1;
      .border-radius(2px);
    }
    .slide-caption {
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      height: 100%;
      width: 50%;
      background: url(images/baner-caption-bg.png);
      padding: 15px;
      .border-radius(2px 0 0 2px);
      overflow: hidden;

      .slide-name h3 {
        color: #fec93d;
        font-size: floor(@font-size-base * 3);
        text-transform: uppercase;
        line-height: 1em;
        border-bottom: 1px solid rgba(255, 255, 255, .5);
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        padding-bottom: 0.4em;
        margin-bottom: floor(@font-size-base * 1.2);
      }
      .slide-meta {
        color: @btn-bg-light;
        font-family: @font-family-serif;
        font-size: floor(@font-size-base * 1.2);
      }
      .slide-title,
      .slide-title a,
      .slide-more a{
        color: #fff;
        text-transform: uppercase;
        font-size: ceil(@font-size-base * 1.7);
        line-height: 1.2em;
        font-weight: 700;
      }
      .slide-more {
        margin-top: ceil(@font-size-base * 1.7);

        a {
          display: inline-block;
          border:2px solid #fff;
          .button-size(@padding-large-vertical; @padding-small-horizontal; ceil(@font-size-base * 1.5); @btn-line-height-sm; @border-radius-base);

          &:hover {
            background: #fff;
            color: @link-color;
          }
        }
      }
    }
  }
  .caption-right .slide-caption {
    left: auto;
    right: 0;
  }
  // pagination
  .baner-pages {
    position: absolute;
    z-index: 3;
    bottom: 10%;
    margin-left: 50%;
    width: 50%;
    text-align: center;

    a{
      display: inline-block;
      .square(8px);
      margin: 0 5px;
      background-color: #fff;
      .border-radius(50%);
      font-size: 1px;
      color: #fff;
      .opacity(0.4);
      outline: none;

      &.selected {
        .opacity(1);
      }
    }

  }
}

/* Carousel Slider */
/*-----------------------------------*/
.carousel-medium {
  width: 100%;
  height: 539px;
  position: relative;

  ul {
    overflow: hidden;
    height: 539px;
  }

  .slide-item,
  .slide-item a{
    position: relative;
    display: block;
    width: 313px;
    height: 539px;
  }
  .slide-item {
    float: left;

    a {
      z-index: 2;
    }

    &:hover .slider-caption em {
      background-color: rgba(255,255,255, 0.9)
    }
  }
  .shadow {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: block;
    box-shadow: inset 10px 0px 10px -7px rgba(0,0,0,0.9);
    width: 100%;
    height: 100%;
  }

  .slider-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    width: 313px;
    display: block;
    text-align: center;
    text-transform: uppercase;
    padding: 0 0 50px 0;

    strong {
      display: inline-block;
      font-family: @font-family-serif;
      font-size: 30px;
      font-weight: normal;
      line-height: 1.1em;
      padding-bottom: 15px;
      color: #fff;
      text-shadow: 0 2px 1px rgba(0, 0, 0, 0.9);
    }

    em {
      display: inline-block;
      padding: 8px 20px;
      background-color: rgba(255,255,255, 0.5);
      font-family: @font-family-sans-serif;
      color: #000;
      font-size: 15px;
      line-height: 1em;
      font-style: normal;
      font-weight: 900;
      .transition(background-color 0.3s ease);

      &:before {
        display: block;
        clear: both;
        height: 1px;
        background-color: #fff;
        width: 39%;
        margin: 0 auto;
      }
    }
  }
  // control arrows
  .next,
  .prev {
    position: absolute;
    top: 220px;
    z-index: 10;
    display: block;
    width: 50px;
    height: 60px;
    color: #fff;
    text-shadow: 0 1px 1px #000;
    opacity: 0.7;

    i {
      width: 50px;
      font-size: 60px;
      line-height: 1em;
      font-weight: 400;
    }

    &:hover {
      opacity: 1;
    }
    &:active {
      top: 221px
    }
  }
  .prev {
    left: 0px;
  }
  .next {
    right: 0px;
  }
}

/* Slider Image 1 */
/*-----------------------------------*/
.carousel-one {

  .slide-item img {
    display: block;
  }
  .slider-controls {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 27%;
    padding-top: 4%;
    display: block;
    background-color: rgba(0,0,0,0.7);
    text-align: center;
  }
  .slider-pagination a {
    display: inline-block;
    .square(11px);
    margin: 0 3px;
    border: 2px solid #fff;
    background: #fff;
    .border-radius(50%);
    color: #fff;
    font-size: 1px;
    line-height: 1px;
    overflow: hidden;
    outline: none;
    text-indent: -200px;

    &.selected {
      background: none;
      border: 2px solid #ec008c;
    }
  }

  .next,
  .prev {
    position: absolute;
    top: 10%;
    color: #fff;
    font-size: 20px;

    &:active {
      bottom: 29%;
    }
  }
  .prev {
    left: 10px;
  }
  .next {
    right: 10px;
  }
}

/* Slider Image With caption */
/*-----------------------------------*/
.carousel-one-caption {

  .slide-item img {
    display: block;
  }
  
  .slide-caption {
    position: relative;
    height: 176px;
    width: 100%;
    background: url(images/slider3-caption-bg.png) center bottom no-repeat;
    padding: 15px;
    color: #782060;
    font-family: @font-family-serif;
    font-size: 18px;

    p {
      display: block;
      overflow: hidden;
      line-height: 1.2em;
      height: 88px;
    }

    .btn {
      position: relative;
      z-index: 2;
      background-color: @btn-bg-slider;

      &:hover {
        color: #fff;
        background-color: @btn-bg-darker;
      }
    }
  }

  .next,
  .prev {
    position: absolute;
    top: 15%;
    color: #fff;
    font-size: 24px;
    text-shadow: 0 1px 1px #000;
    font-weight: normal;
  }
  .prev {
    left: 10px;
  }
  .next {
    right: 10px;
  }
}

/* carousel-testimonials */
@author-visible-height: 218px; //height of author image visibale part

.carousel-testimonials {
  margin-bottom: 20px;

  .slide-item {
    width: 100%;
  }
  .slide-caption {
    width: 100%;
    padding: 10px 15%;
    margin: 0 auto;
    text-align: center;
    background-color: #fff;

    p {
      color: @gray-light;
      font-style: italic;
      font-size: 18px;
      line-height: 1.6em;
    }
  }
  .avatar {
    width: 320px;
    height: @author-visible-height;
    margin: 10px auto 0 auto;
    overflow: hidden;

    img {
      .border-radius(50%);
      display: block;
    }
  }
  .slide-author {
    color: @color-custom-1;
    font-weight: 900;
    font-size: 14px;
    padding-bottom: 10px;
  }
  .next,
  .prev {
    position: absolute;
    top: 70%;
    font-size: 30px;
    color: @color-custom-1;

    i {
      font-weight: bold;
    }
  }
  .prev {
    left: 0;
  }
  .next {
    right: 0;
  }
}
.testimonials-up {
  margin-top: -(@middle-row-padding + @author-visible-height + 10px);

  .heading-title {
    position: absolute;
    top: -50px;
    z-index: 4;
    color: #fff;
  }
}

@media (max-width: @screen-sm-max) {
  .testimonials-up {
    margin-top: 0;
  }
}

/* carousel-logos */
.carousel-logos {
  width: 100%;

  .slide-item {
    height: 90px;
    float: left;
    margin: 0 10px;
  }
  h3 {
    margin-bottom: 30px;
    text-align: center;
    font-style: italic;
    font-size: 19px;
    color: #43abc7;
  }
  .next,
  .prev {
    position: absolute;
    bottom: 25px;
    font-size: 20px;
    z-index: 2;
  }
  .prev {
    left: 0;
  }
  .next {
    right: 0;
  }
}


// responsive sliders
@media (min-width: @screen-sm-min) {
  .carousel-one {
    .slider-controls {
      padding-top: 6%;
    }
    .next,
    .prev {
      font-size: 30px;
      top: 25%;
    }
    .prev {
      left: 40px;
    }
    .next {
      right: 40px;
    }
  }

  .carousel-one-caption {
    .slide-caption {
      padding: 35px;
      font-size: 20px;
      height: 156px;

      p {
        float: left;
        line-height: 1.4em;
        margin-right: 20%;
        height: 60px;
      }

      .btn {
        position: absolute;
        top: 35px;
        right: 35px;
      }
    }
    .next,
    .prev {
      top: 25%;
    }
    .prev {
      left: 35px;
    }
    .next {
      right: 35px;
    }
  }
}

@media (min-width: @screen-md-min) {
  .carousel-one-caption {
    .slide-caption {
      height: 176px;
      padding: 55px;
      font-size: 22px;

      p {
        margin-right: 20%;
        height: 60px;
      }

      .btn {
        position: absolute;
        top: 55px;
        right: 55px;
      }
    }
    .next,
    .prev {
      top: 30%;
    }
  }
}

@media (min-width: 1200px) {
  .carousel-medium {
    .next {
      right: -80px;
    }
    .prev {
      left: -80px;
    }
  }
  .carousel-one {
    .next,
    .prev {
      top: 31%;
    }
  }
}

/*-----------------------------------*/
/* Tab Slider */
/*-----------------------------------*/
.tab-slider {
  .border-radius(3px);
  background-color: #fff;

  &:extend(.clearfix all);
  margin-bottom: 20px;
}

.tab-slider-tabs{
  width: 100%;
  display: block;
  float: left;
  text-align: left;
  background-color: #fff;
  .border-radius(3px);

  li {
    border-right: 1px solid #eae8e3;
    width: 16.5%;
    height: 83px;
    display: block;
    float: left;
    text-align: center;

    a {
      display: block;
      float: left;
      width: 100%;
      height: 82px;
      padding: 24px 0 20px 0;
      font-size: 15px;
      color: #b2b0ac;
      line-height: 1em;
      letter-spacing: -1px;

      strong {
        display: block;
        font-weight: 500;
        font-size: 28px;
        padding-bottom: 7px;
      }
    }
    a:hover,
    &.active a{
      background-color: @btn-bg-dark;
      color: #fff;
    }
    a:hover {
      background-color: @btn-bg;
    }
    &:first-child,
    &:first-child a {
      border-top-left-radius: 3px;
    }
    &.tab-more {
      border-bottom: none;

      a {

        color: @gray-darker;
        font-size: 13px;
        font-weight: 500;
        letter-spacing: 0;

        .tficon-angle-right {
          display: block;
          color: @gray-light;
          padding-top: 5px;
          font-size: 16px;
        }

        &:hover,
        &:hover .tficon-angle-right{
          color: #fff;
        }
      }
    }
  }


}
.tab-slider-content{
  float: left;

  .tab-image {
    position: relative;
    width: 473px;
    height: 430px;
    float: left;

    img {
      display: block;
      width: 100%;
      height: auto;
    }
    .tab-image-caption {
      display: block;
      position: absolute;
      bottom: 0;
      width: 100%;
      padding: 30px;
      background-color: rgba(82, 19, 43, 0.5);
      font-family: @font-family-sans-serif;
      line-height: 1em;
      font-size: 30px;
      font-weight: 100;
      color: #fff;
      text-transform: uppercase;

      &:hover {
        background-color: rgba(82, 19, 43, 0.7);
      }
    }
    .tficon-chevron-right {
      position: relative;
      top: 5px;
      left: 5px;
      display: inline-block;
      border: 2px solid #fff;
      border-radius: 50%;
      font-size: 30px;
      line-height: 30px;
      .square(30px);
      text-align: center;

      &:before {
        position: relative;
        top: -0.7em;
        left: 2px;
        font-size: 13px;
      }
    }
  }

  .tab-text {
    position: relative;
    float: left;
    width: 267px;
    height: 430px;
    padding: 20px 15px 0 15px;
  }

  .tab-text-title {
    display: inline-block;
    font-family: @font-family-serif;
    font-size: 40px;
    color: @color-custom-1;
    line-height: 1em;
    padding-top: 10px;
    margin-bottom: 30px;
  }
  .tab-text-meta {
    box-shadow: @boxshadow-top;
    background-color: @boxshadow-bg;
    margin-left: -15px;
    margin-right: -15px;
    padding: 15px;
    position: absolute;
    bottom: 0;
    width: 100%;
    color: @gray;
    font-weight: 500;
    font-size: 14px;
    text-align: right;

    .text-meta {
      float: left;
      display: inline-block;
      text-align: left;
      line-height: 1.2em;
    }

    a {
      color: @btn-text-hover;
    }

    [class^="tficon-"] {
      font-size: 34px;
      color: @btn-bg;

      &:hover {
        color: @btn-bg-dark;
      }
    }
  }
  .news-subtitle {
    color: @btn-text-hover;
    margin-bottom: 10px;
  }
  .news-descr {
    font-weight: 500;
    color: @gray;
  }
}

@media (max-width: @screen-sm-max) {

  .tab-slider-content {
    float: none;
    width: 100%;
    clear: both;

    .tab-image {
      width: 100%;
      height: auto;
      float: none;

      img {
        max-width: 100%;
      }
    }
    .tab-text {
      width: auto;
      height: auto;
      min-height: 1em;
      padding: 20px 15px 0 15px;
    }

    .tab-text-meta {
      position: relative;
      margin-left: 0;
      margin-right: 0;
      padding: 15px;

      .text-meta {
        width: 80px;
        padding-top: 2px;
      }
    }
  }

}

@media (min-width: @screen-md-min) {
  .tab-slider-tabs {
    width: 80px;

    li {
      border-bottom: 1px solid #eae8e3;
      border-right: none;
      width: 80px;

      &.tab-more a {
        height: 85px;
      }
    }
  }

  .tab-slider-content {

    .tab-image {
      width: 550px;
      height: 500px;

      .tab-image-caption {
        font-size: 48px;
      }
      .tficon-chevron-right {
        top: 2px;
        font-size: 38px;
        line-height: 38px;
        .square(38px);

        &:before {
          top: -0.8em;
          left: 2px;
          font-size: 15px;
        }
      }
    }
    .tab-text {
      width: 310px;
      height: 500px;
      padding: 30px 20px 0 20px;
    }

    .tab-text-title {
      font-size: 54px;
    }
    .tab-text-meta {
      margin-left: -20px;
      margin-right: -20px;
      padding: 15px 20px;

      .text-meta {
        width: auto;
        padding-top: 10px;
      }
    }
  }
}